<h1>Dashboard</h1>
<div class="card">
  <div class="card-head">Lorem ipsum - Dashboard </div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum,
    libero sodales venenatis ultricies, enim mi vulputate metus, tempor condimentum urna
    risus eget elit. Donec mollis, metus in cursus porttitor, massa nisi placerat augue,
    sodales faucibus ligula justo id mauris. Suspendisse vitae orci vel nisl egestas
    efficitur. Donec suscipit, risus at molestie sollicitudin, tortor sem vestibulum
    felis, a fermentum tellus enim vitae justo. Aenean finibus at lorem sed suscipit.
    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    mus. Integer quis lacinia lorem. Morbi velit lacus, mollis eu sem sed, aliquam
    vulputate nisl. Nulla id tellus et arcu interdum maximus.
  </div>
</div>
